body {
      background-color: #191919;
      color: white;
      font-family:Arial;
    }
    .title {
      font-weight: bold;
      font-size: 30px;
    }
    .move-icon {
      background-color: black;
      height: 50px;
    }
    .move-button {
      background-color: transparent;
      border: 3px solid white;
      width:120px;
      height:120px;
      margin-right:10px;
      border-radius:100px;
      cursor: pointer;
    }
    .result {
      font-size: 25px;
      font-weight:bold;
      margin-top:50px;
    }
    .score9 {
      margin-top: 60px;
    }
    .reset-score-button {
      background-color: white;
      border:none;
      font-size:15px;
      padding:8px 15px;
      cursor: pointer;
    }