button {
  background-color: rgb(223, 223, 223);
  color: black;
  border:none;
  padding:10px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.dark-button {
  background-color: black;
  color: white;
  border:none;
  padding:10px 15px;
  border-radius: 10px;
  cursor: pointer;
}