body{
        background-color: black;
      }
      button {
        background-color: rgb(51, 51, 51);
        color: white;
        height: 60px;
        width: 60px;
        border-radius: 60px;
        border: none;
        font-size: 26px;
        cursor: pointer;
        margin-right: 5px;
      }
      .clear-button {
        font-size:17px;
      }
      .operator-button{
        background-color: rgb(254, 160, 10);
        color:white;
      }
      .js-output{
        color: white;
        font-size: 40px;
        margin: 15px 5px;
        font-family: Arial, Helvetica, sans-serif; 
      }